app_client/main/profile/profile.html
  <nav>
      <div class="navbar navbar-custom navbar-fixed-top">
        <navbar></navbar>
        <search></search>

         <dropdown username="vm.user.username"></dropdown>
      </div>

</nav>

<div class="container-fluid">
      <div class="row">
          <div class="col-sm-12 col-md-3" align="center">
              <userinfo user="vm.user"></userinfo>
          </div>
          <div class="col-sm-12 col-md-6" alinodemogn="center">
              <div class="row">
                  <h3 class="sub-title"></h3>
                  <div role="alert" ng-show="vm.info" class="alert alert-info">{{vm.info}}</div>
                  <form ng-submit="vm.changeDescription()" autocomplete="off">

                    <div class="form-group">

                      <label for="textarea" class="pull-left">
                        <h3>Profile Message</h3>
                          <div role="alert" ng-show="vm.formErrorDescription" class="alert alert-danger">{{vm.formErrorDescription}}</div>
                      </label>
                      <textarea ng-model="vm.userDescription" id="textarea1" rows="4" placeholder="Write your message here..." style="resize: none;overflow:hidden" class="form-control"></textarea>
                      <button type="submit" id="btn-change-description" class="btn small pull-right">Save</button>
                    </div>

                  </form>


                </div>
                <div class="row">
                  <h3 class="pull-left">Change your password</h3>
                </div>
                <div class="row">
                  <form ng-submit="vm.changePassword()" class="form-horizontal" autocomplete="off">
                     <div role="alert" ng-show="vm.formPassword.err" class="alert alert-danger">{{vm.formPassword.err}}</div>
                     <div role="alert" ng-show="vm.formPassword.ok" class="alert alert-success">{{vm.formPassword.ok}}</div>
                    <input ng-model="vm.password.oldP" type="password" id="password" placeholder="Old password" name="password" class="form-control col-xs-7"/>
                    <input ng-model="vm.password.newP" type="password" id="password1" placeholder="New password" name="password1" class="form-control col-xs-7"/>
                    <input ng-model="vm.password.confirmP" type="password" id="password2" placeholder="Confirm password" name="password2" class="form-control col-xs-7"/>
                    <button type="submit" id="btn-change-password" class="btn small pull-right">Change</button>
                  </form>
                </div>
                <div class="row">
                  <button ng-click="vm.deleteProfile()" id="delete-profile" style="color:red" class="btn small pull-right">Delete Profile</button>

          </div>
          <div class="col-sm-12 col-md-3" align="center">

          </div>
      </div>
  </div>

app_server/views/main/profile.jade
extends ../layout

include ../mixins/user-info
include ../mixins/nav-search
include ../mixins/nav-dropdown
block nav-mid
    +search()

block nav-right
    +nav-dropdown()

block main-left
    h3.sub-title
    +user-info()

block main-mid
    .row
        h3.sub-title
        form
            .form-group
                label(for="textarea").pull-left
                    h3 Profile Message
                textarea.form-control(id="textarea1",rows="4", placeholder="Write your message here...", style="resize: none;overflow:hidden")
                button(type="submit", id="btn-change-description").btn.small.pull-right Save

    .row
        h3.pull-left Change your password
    .row
        form.form-horizontal
            input(type="password").form-control.col-xs-7(id="password",placeholder="Old password",name="password")
            input(type="password").form-control.col-xs-7(id="password1",placeholder="New password",name="password1")
            input(type="password").form-control.col-xs-7(id="password2",placeholder="Confirm password",name="password2")
            button(type="submit", id="btn-change-password").btn.small.pull-right Change
    .row
        button(id="delete-profile", style="color:red").btn.small.pull-right Delete Profile

block scripts
    script(src='/javascripts/profileController.js')
    script(src='/javascripts/searchController.js')
    script(src='/javascripts/clickCardControl.js')
