app_server/views/main/search.jade
extends ../layout
include ../mixins/nav-search
include ../mixins/nav-dropdown
block nav-mid
    +search()

block nav-right
    +nav-dropdown()

block main-mid
    .row(id="search-feed")

block main-left
    h3.sub-title
    #search-user-info

block scripts
    script(src='/javascripts/searchController.js')
    script(src='/javascripts/searchControllerView.js')
    script(src='/javascripts/tweetControl.js')
    script(src='/javascripts/clickCardControl.js')

app_client/main/search/search.html
<nav>
      <div class="navbar navbar-custom navbar-fixed-top">
            <navbar></navbar>
               <search></search>

            <dropdown username="vm.user.username"></dropdown>
            <div role="alert" ng-show="vm.info" class="alert alert-floating alert-info">{{vm.info}}</div>
      </div>
</nav>

    <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12 col-md-3" align="center">
              <h3 class= "sub-title"></h3>
              
              <!-- Ta del se kontrolira oz prikaze s tem ali je bil iskan uporabnik ali ne-->
              <div ng-show="vm.User" id="search-user-info">
                  <div class="card">
                      <div class="card-section">
                          <div  class="row onHoverUserSearch">
                              <div class="col-xs-3"><span class="glyphicon glyphicon-user vecjiGlyph"></span></div>
                              <div class="col-xs-9 text-left">
                                <h3 class="activeUser-name">{{vm.User.username}}</h3>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-sm-6 col-xs-3"><span class="drugaBarva">Following: </span><span class="activeUser-numFollowgin">{{vm.User.following.length}}</span></div>
                              <div class="col-sm-6 col-xs-3"><span class="drugaBarva">Followers: </span><span class="activeUser-numFollowers"></span>{{vm.User.followers.length}}</div>
                            </div>
                      </div>
                      <div class="card-section">
                          <span class="activeUser-description">{{vm.User.description.body}}</span>
                      </div>
                      <!-- Ta del se kontrolira s tem ali je potrebno uporabnika slediti ali odslediti-->
                      <div class="card-section" style="text-align: center">
                          <btn ng-show="vm.isFollowing" ng-click="vm.unfollow(vm.User._id)" class="btn" style="width: 95%">Unfollow</btn>
                          <btn ng-hide="vm.isFollowing" ng-click="vm.follow(vm.User._id)" class="btn" style="width: 95%">Follow</btn>
                          
                      </div>
                  </div>
              </div>
              
          </div>
          <div class="col-sm-12 col-md-6" align="center">
                  
                 <div role="alert" ng-show="vm.feedErr" class="alert alert-danger">{{vm.feedErr}}</div>
                <tweetcard ng-repeat="tweet in vm.feed | orderBy:'komentarDatum':true" class="card" tweet="tweet" tweetid="{{tweet._id}}"></tweetcard>
          </div>
          <div class="col-sm-12 col-md-3" align="center">
              
          </div>
        </div>
      </div>
