app_client/login/login.html
  <nav>
      <div class="navbar navbar-custom navbar-fixed-top">
          <navbar></navbar>
          <a class="btn-nav-bar pull-right" href="/register">Register instead</a>
      </div>
</nav>

    <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12 col-md-3" align="center">
          </div>
          <div class="col-sm-12 col-md-6" align="center">
              <div class="page-header" id="banner">
                 <header content="vm.info"></header>

                  <form ng-submit="vm.login()" autocomplete="off">
                     <div role="alert" ng-show="vm.formError" class="alert alert-danger">{{vm.formError}}</div>
                    <input ng-model="vm.loginData.username" class="form-control posebno" type="text" placeholder="Username or email" aria-describedby="basic-addon1" id="login-username"/>
                    <input ng-model="vm.loginData.password" class="form-control posebno" type="password" placeholder="Password" aria-describedby="basic-addon1" id="login-password"/>
                    <button class="btn" type="submit" id="btn-login">Log in</button>
                    <!--br-->
                    <!--button.btn(type=s'submit') Use Google / Facebook--><br/><br/>
                    <div class="g-signin2" data-onsuccess="onSignIn"></div>
                  </form>
                </div>
          </div>
          <div class="col-sm-12 col-md-3" align="center">

          </div>
        </div>
      </div>

app_server/views/login_register/login.jade
extends ../layout


block nav-mid

block main-mid
    #banner.page-header
        h1= glavaStrani.naslov
        h2.sub-title= glavaStrani.podnaslov
        form(action="/noScript/login", method="post", role="form", autocomplete="off")
            - if (napaka == "vrednost")
                .alert.alert-danger(role="alert") Login error
            input.form-control(type="text" placeholder="Username or email" aria-describedby="basic-addon1", name="username" ,id = "login-username", required, autofocus, autocomplete="off").posebno
            input.form-control(type="password" placeholder="Password" aria-describedby="basic-addon1", name="password" ,id="login-password", required, autocomplete="off").posebno
            button.btn(type='submit', id="btn-login") Log in
