app_server/views/login_register/register.jade
extends ../layout

block nav-right
    a(href="/login").btn-nav-bar.pull-right= desniKot
    //ul.nav.navbar-nav.navbar-right
    //    li
    //        a.btn-nav-bar(href='/register')= desniKot

block main-mid
    script(src='/javascripts/registerController.js')
    #banner.page-header
        h1= glavaStrani.naslov
        h2.sub-title= glavaStrani.podnaslov
        form
            input.form-control(type="text" placeholder="Username" aria-describedby="basic-addon1", id="register-username").posebno
            input.form-control(type="email" placeholder="Email" aria-describedby="basic-addon1", id = "register-email").posebno
            input.form-control(type="password" placeholder="Password" aria-describedby="basic-addon1", id="register-password").posebno
            input.form-control(type="password" placeholder="Confirm password" aria-describedby="basic-addon1",id="register-password-second").posebno
            button.btn(type='submit', id="btn-register") Register
            .g-signin2(data-onsuccess="onSignIn")

block scripts
script(src='/javascripts/google.js')

//    a je to problematicno
script(src='/javascripts/registerController.js')

app_client/register/register.html
 <nav>
      <div class="navbar navbar-custom navbar-fixed-top">
          <navbar></navbar>
          <a class="btn-nav-bar pull-right" href="/login">LogIn</a>
      </div>
</nav>


  <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12 col-md-3" align="center">
          </div>
          <div class="col-sm-12 col-md-6" align="center">
              <div class="page-header" id="banner">
                  <header content="vm.info"></header>

                  <form ng-submit="vm.register()" autocomplete="off">
                    <div role="alert" ng-show="vm.formError" class="alert alert-danger">{{vm.formError}}</div>
                    <input ng-model="vm.registerData.username" class="form-control posebno" type="text" placeholder="Username" aria-describedby="basic-addon1" id="register-username"/>
                    <input ng-model="vm.registerData.email" class="form-control posebno" type="email" placeholder="Email" aria-describedby="basic-addon1" id="register-email"/>
                    <input ng-model="vm.registerData.password" class="form-control posebno" type="password" placeholder="Password" aria-describedby="basic-addon1" id="register-password"/>
                    <input ng-model="vm.registerData.passwordConfirm" class="form-control posebno" type="password" placeholder="Confirm password" aria-describedby="basic-addon1" id="register-password-second"/>
                    <div  vc-recaptcha key="'6LeZSz8UAAAAAKRNbiByXd7l84DkSY3BERk3-ITt'" ng-model="vm.registerData.recaptch"></div>
                    <button class="btn" type="submit" id="btn-register">Register</button>
                    <div class="g-signin2" data-onsuccess="onSignIn"></div>
                  </form>

          </div>
          <div class="col-sm-12 col-md-3" align="center">

          </div>
        </div>
  </div>
