app_server/views/mixins/tweetcard.jade
mixin tweetcard(sender, body)
    .card
        .card-section.tweetcard-header
            .tweetcard-userinfo
              img.img-rounded(src="/images/user-icon.png")
              |         
              b #{sender}
            .tweetcard-controls
        .card-section
            p #{body}

app_client/directives/tweetcard/tweetcard.html

<div class="card-section tweetcard-header">
    <div ng-click="tvm.searchUser(tweet.creator.username)" class= "tweetcard-userinfo"><img src="/images/user-icon.png" class="img-rounded">
        <b>{{tweet.creator.username}}</b>
    </div>
    <div class="tweetcard-controls">
        <a ng-if="tvm.canRetweet" class="glyphicon glyphicon-retweet" ng-click="tvm.addRetweet()"></a>
        <a ng-if="!tvm.canRetweet" class="glyphicon glyphicon-retweet tweetcard-controls-unavailable"></a>
        <span>{{tweet.retweets.length}}</span>
        <span ng-switch="tvm.whatLikes">
            <a ng-switch-when="1" class="glyphicon glyphicon-heart" ng-click="tvm.addLike()"></a>
            <a ng-switch-when="2" class="glyphicon glyphicon-heart tweetcard-controls-unlike" ng-click="tvm.unlike()"></a>
            <a ng-switch-when="0" class="glyphicon glyphicon-heart tweetcard-controls-unavailable"></a>
        </span>
        <span>{{tweet.likes.length}}</span>
        <a ng-if="tvm.isMine" class="glyphicon glyphicon-trash" ng-click="tvm.removeTweet()"></a>
    </div>
</div>
<div class="card-section"><p class="text-card">{{tweet.body}}</p></div>
